%% 编译设置
{erl_opts, [
	debug_info,
	{parse_transform, lager_transform},
	{parse_transform, ms_transform},
	report,
	warn_export_all,
	warn_export_vars,
	warn_obsolete_guard,
	warn_shadow_vars,
	warn_unused_function,
	warn_deprecated_function,
	warn_unused_import
]}.

{deps, [
	{erly_player, {git , "https://git.blizzmi.com/erly/player.git",{branch, "master"}}}
]}.

{shell, [
	{apps, [{{name}}]},
	{config, "config/{{name}}.config"}
]}.

{dist_node, [
	{setcookie, 'buyaolianwo'},
	{sname, '{{name}}'}
]
}.
